<div class="form-group" style="text-align:right">
    <button type="button" class="btn btn-link" onclick="sendAjax2('getUserAccess','div_main','userId=$!usr.id')">Reload</button>
</div>

<table class="table">
	#foreach( $g in $assignedMenus )
		<tr>
			<td></td>
			<td colspan="2" style="font-weight:bold">$g.title</td>
		</tr>
		#foreach ( $m in $g.menus )
		<tr>
			<td>$velocityCount.</td>
			<td style="text-align:center"><input type="checkbox" name="menuClassNames" value="$m.className">
			<td>$!m.title ($!m.className)</td>
		</tr>
		#end
	#end
</table>