
<table class="table">
	
	#foreach( $p in $parents )
		<tr>
			<td style="font-weight:bold;font-size:12pt">
				$p.title
				<button type="button" class="btn btn-link btn-xs" onclick="sendAjax('assignAdmins','div_main','menuId=$p.id')"><i class="fa fa-users" aria-hidden="true"></i></button>

			</td>

		</tr>
		<tr>
			<td>
			#if ( $p.accessAdminUsers.size() > 0 )
				<ul>
				#foreach( $u in $p.accessAdminUsers )
					<li>
						$u.firstName
						<button type="button" class="btn btn-confirmation btn-link btn-xs"  data-toggle="modal" data-target="#confirmation" onclick="sendAjaxConfirm('Confirm', 'Are you sure to delete this data?', 'removeAdmin','div_main','userId=$u.id&menuId=$!p.id')">
                        	<i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
					
					</li>
				#end
				</ul>
			#else
				Not assigned to admins.
			#end
			</td>

		</tr>
	#end
</table>