
<table class="table">
	#foreach ( $u in $users )
		<tr>
			<td style="width:20px">$velocityCount.</td>
			<td style="cursor:pointer" onclick="sendAjax2('selectUser','div_main','userId=$!u.id&menuId=$!menu.id')">$u.userName - $!u.firstName</td>
		</tr>
	#end
</table>